.feedback{
  background-color:#05520D1F ;
  width:120px ; 
  height: 120px;
  border-radius: 50%;
  margin-left:47%;
 } 
 .mark{
  padding: 33px;
 }
 .thank-you{
  text-align: center;
  margin-top: 108px;
  display: grid;
  gap: 60px;
  margin-bottom: 224px;
 }
 .feedback-text{
  font-weight:var(--fw-bold);
  color: var(--main-color);
 }